/* Some common styles*/
a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

html {
  font-size: 100%;
}

body {
  background-color: #091619;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.content-wrapper {
  width: 100%;
  max-width: 1278px;
  margin: 0 auto;
}

.primary-button {
  border-radius: 50px;
  background-color: #43c6b3;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 11px;
  width: 100%;
  max-width: 140px;
}

h2 {
  font-size: 6.25rem;
  line-height: 0.8;
  opacity: 0.1;
  font-weight: 900;
  letter-spacing: -2.6px;
  color: #7c7c7c;
  position: absolute;
}

h3 {
  font-size: 1.46875rem;
  line-height: 1.04;
  letter-spacing: -0.6px;
  font-weight: 900;
}

h4 {
  font-size: 11px;
  font-weight: 900;
  line-height: 1.04;
  letter-spacing: -0.3px;
}

/* Header styles*/
#header {
  position: absolute;
  width: 100%;
  background: transparent;
  margin: auto;
}

#header .content-wrapper {
  position: relative;
}

#header .navbar-nav {
  font-weight: bold;
  font-size: 9px;
  letter-spacing: -0.4px;
}

#header .navbar-nav .social-icon-container {
  margin-left: 18px;
}

#header .navbar-nav a {
  opacity: 0.3;
}

#header .navbar-nav a .fa-facebook {
  font-size: 12px;
}

#header .navbar-nav a .fa-instagram {
  font-size: 12px;
}

#header .navbar-nav a.social-icon {
  color: #ffffff;
  opacity: 1;
}

#header .navbar-nav a:hover {
  color: #ffffff;
  opacity: 1;
}

#header .navbar-nav .active {
  opacity: 1;
}

/* Main-section styles*/
/*Hero-section styles*/
#hero-section {
  width: 100%;
  margin: 0 auto;
}

#hero-section .text-container {
  width: 100%;
  max-width: 768px;
  position: absolute;
  top: 380px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column nowrap;
  z-index: 1;
  padding: 0 20px;
}

#hero-section .text-container p {
  font-size: 1.1875rem;
  width: 100%;
  max-width: 108px;
  letter-spacing: -0.5px;
}

#hero-section .text-container h1 {
  font-family: Arial;
  font-size: 5.28125rem;
  font-weight: 900;
  letter-spacing: -2.2px;
  width: 100%;
}

#hero-section .text-container .primary-button {
  margin: auto;
  margin-top: 67px;
}

#hero-section .image-container {
  background: url(../images/group-5.png) no-repeat center center;
  background-size: contain;
  width: 100%;
  margin: 0 auto;
  mix-blend-mode: lighten;
  max-width: 471px;
  min-height: 730px;
  position: relative;
}

#hero-section .image-container .fa-angle-double-down {
  position: absolute;
  right: 50%;
  font-size: 25px;
  bottom: 0;
}

/* Section About styles */
#about {
  padding-top: 177px;
}

#about .container {
  position: relative;
}

#about .image-container {
  background: url(../images/romb-2.png) no-repeat center center;
  background-size: auto auto;
  background-size: auto auto;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  min-height: 394px;
  position: absolute;
  right: -52%;
  bottom: -37%;
  z-index: -1;
}

#about h2 {
  bottom: -4%;
  right: 16%;
  width: 100%;
}

#about h3 {
  padding: 0 20px 53px;
}

#about .content-wrapper {
  max-width: 556px;
}

#about .slogan-container {
  position: relative;
}

#about .slogan-container .slogan {
  font-size: 11px;
  line-height: 1.48;
  letter-spacing: -0.2px;
  margin: 5px 0 30px 40px;
}

#about .inner-container div.col-md-4:first-of-type .box-item:before {
  display: none;
}

#about .inner-container div:nth-child(4n) .box-item:before, #about .inner-container div:nth-child(7n) .box-item:before, #about .inner-container div:nth-child(10n) .box-item:before, #about .inner-container div:nth-child(13) .box-item:before {
  display: none;
}

#about .inner-container .box-item {
  border-radius: 3px;
  box-shadow: 0 1px 32px 0 rgba(0, 0, 0, 0.15);
  background-color: #151f22;
  padding: 31px 20px;
  min-height: 154px;
  margin-top: 8px;
  position: relative;
}

#about .inner-container .box-item:before {
  content: '';
  position: absolute;
  background-color: #43c6b3;
  width: 21px;
  height: 3px;
  border-radius: 39px;
  top: 15%;
  left: -15px;
}

#about .inner-container .box-item p {
  opacity: 0.3;
  font-size: 7px;
  line-height: 1.43;
  letter-spacing: -0.1px;
  margin-top: 15px;
}

/* Section Gallery styles */
#gallery {
  padding-top: 170px;
}

#gallery .content-wrapper {
  max-width: 841px;
}

#gallery .row {
  position: relative;
}

#gallery h2 {
  bottom: 98%;
  width: 100%;
  word-wrap: break-word;
  text-align: center;
}

#gallery .text-container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#gallery .autor {
  opacity: 0.3;
  font-size: 7px;
  line-height: 1.43;
  letter-spacing: -0.1px;
  margin-top: 15px;
}

#gallery .data {
  font-size: 8px;
  line-height: 1.56;
  letter-spacing: -0.2px;
  text-align: center;
}

#gallery .nested-item {
  padding: 31px 37px;
  text-align: center;
}

#gallery .big-container {
  width: 100%;
  max-width: 295px;
}

#gallery .text-col h4 {
  padding: 55px 20px 10px 19px;
}

#gallery .text-col span {
  padding: 0 20px;
}

#gallery img {
  width: 100%;
  height: 100%;
  padding: 3px;
}

/* Media queries */
@media all and (max-width: 991.98px) {
  #about .image-container {
    position: static;
    background-size: contain;
  }
  #gallery h2 {
    bottom: 100%;
  }
}

@media all and (max-width: 767.98px) {
  html {
    font-size: 80%;
  }
  #hero-section .text-container {
    text-align: center;
  }
  #hero-section .text-container p {
    max-width: none;
  }
  #about h2 {
    right: 0;
  }
  #about .box-item:before {
    display: none;
  }
  #gallery img {
    object-fit: cover;
  }
}

@media all and (max-width: 575.98px) {
  html {
    font-size: 65%;
  }
}
